<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>Outbox</span>
                <span>Plot 23, Lumumba Avenue</span>
                <span>Soliz House, 4th floor</span>
                <span>Kampala</span>
                <span><small><a href="http://bit.ly/1WmFJ42" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
    </div>

    <div class="large-8 columns map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7549200646768!2d32.57412601524782!3d0.32300349976434517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177dbb7a196c73c3%3A0xf3f534e6f1300573!2sOutbox+Hub!5e0!3m2!1sen!2sbr!4v1443182964397" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
